@import "tailwindcss";
@import "tw-animate-css";
@import "@repo/styles/css";
@plugin "@tailwindcss/typography";

@source "../src/**/*.{ts,tsx}";
@source "../../../packages/ui/src/**/*.{ts,tsx}";

@utility default-padding {
  @apply px-4 md:px-10 lg:px-14 xl:px-18;
}

@utility fs-* {
  font-size: calc(var(--spacing) * --value(number));
}


@keyframes float-up-down {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }

  25% {
    transform: translateY(-7px) rotate(1deg);
  }

  50% {
    transform: translateY(0) rotate(0deg);
  }

  75% {
    transform: translateY(5px) rotate(-1deg);
  }
}

@keyframes volume-dance {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(4px, -10px) rotate(2deg);
  }

  50% {
    transform: translate(0, 2px) rotate(0deg);
  }

  75% {
    transform: translate(-4px, -7px) rotate(-2deg);
  }
}

@keyframes bonus-dance {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(-4px, 8px) rotate(-2deg);
  }

  50% {
    transform: translate(0, -3px) rotate(0deg);
  }

  75% {
    transform: translate(4px, 7px) rotate(2deg);
  }
}

@layer utilities {
  .animate-volume-dance {
    animation: volume-dance 5s ease-in-out infinite;
  }

  .animate-bonus-dance {
    animation: bonus-dance 5s ease-in-out infinite;
  }
}